.m-div {
  gap: 10px;
}
@media (max-width: 978px) {
  .m-div {
    flex-direction: column-reverse;
    gap: 2px;
  }
}
.img-container {
  position: relative;
  display: inline-block;
}
.image-container img {
  display: block;
  width: 100%;
  height: auto;
}
.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Adjust the height as needed */
  background: inherit;
  filter: blur(10px); /* Adjust the blur intensity */
  transform: scaleY(1);
}
