.menu {
  display: flex;
  gap: 20px;
}
.menuOpener {
  display: none;
}
.menuOpener p {
  width: 9px;
  height: 2px;
  color: white;
}
@media (max-width: 804px) {
  .menu {
    display: none;
  }
}
.vertical-menu {
  display: none;
}
.m-opener {
  display: none;
}
@media (max-width: 400px) {
  .subs {
    display: none;
  }
  .vertical-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .m-opener {
    display: block;
  }
  .menuOpener {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
  }
  .menuOpener p {
    width: 19px;
    height: 2px;
    /* color: white; */
    background-color: white;
    margin: 0;
  }
}
